<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
        rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="icon" type="image/png" href="https://img.icons8.com/doodle/48/000000/conference-call.png">
    <title>Krowd</title>
</head>

<body>
    <div id="img_container">
        <img src="/static/images/logo.png" width="250px">
    </div>
    <div id="wraper" class="container-fluid">
        <!-- <nav class="navbar navbar-custom">
            <a class="navbar-brand" href="/">
                <img src="/static/images/logo.png" width="80" height="60" alt="">
            </a>
        </nav> -->

        <div class="row" class="container-fluid">
            <div style="height: 700px;" class="col-8 container-fluid" id="map">
            </div>
            <div class="col-4">
                <div class="card center" style="width: 18rem;">
                    <form style="margin:2rem">
                        Incident:<br>
                        <input type="text" name="incident">
                        <br>
                        Location:<br>
                        <input type="text" name="location">
                        <br>
                        <input type="submit" value="Report">
                    </form>
                    <ul class="list-group list-group-flush">
                        {% for incident in incidents%}
                        <li class="list-group-item"> {{ incident[1] }} <br>
                            <button type="button" class="btn btn-primary" onclick="upvote({{ incident[0] }});">
                                <i class="fas fa-thumbs-up"></i></button>
                            <button type="button" class="btn btn-primary" onclick="downvote({{ incident[0] }})">
                                <i class="fas fa-thumbs-down"></i></button>
                            <button type="button" class="btn btn-success" onclick="location({{ incident[0] }})">
                                <i class="fa fa-home"></i></button>
                        </li>
                        {% endfor %}

                        <!-- <li id="1" class="list-group-item"> ok <br>
                            <button type="button" class="btn btn-primary" onclick="upvote(this.id)"><i
                                    class="fas fa-thumbs-up"></i></button>
                            <button type="button" class="btn btn-primary" onclick="downvote(this.id)"><i
                                    class="fas fa-thumbs-down"></i></button>
                            <button type="button" class="btn btn-success" onclick="location(this.id)"><i
                                    class="fa fa-home"></i></button></li> -->

                    </ul>
                </div>
            </div>
        </div>



        <!-- div for location -->
        <!-- this is the last div for the main main container -->
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'main.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOc4uTuRiQylcCIg1wGkisZWWmTM8TAN8&callback=initMap"
        async defer></script>
    <script>
        function upvote(id) {
            $.post("{{ url_for('index') }}", {
                is_up: true,
                id: id
            });
        }
        function downvote(id) {
            $.post("{{ url_for('index') }}", {
                is_up: false,
                id: id
            });
        }

    </script>
</body>


</html>