<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
        rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="icon" type="image/png" href="https://img.icons8.com/doodle/48/000000/conference-call.png">
    <title>Krowd</title>
</head>

<body>
    <img src="static\images\logo.png" align="center">
    <div id="wrapper" class="container-fluid">

        <!-- <nav class="navbar navbar-custom">
            <a class="navbar-brand" href="/">
                <img src="/static/images/logo.png" width="80" height="50" alt="">
            </a>
        </nav> -->

        <div class="row" class="container-fluid" id="incident">
            <div style="height: 850px;" class="col-8 container-fluid" id="map">
            </div>
            <div class="col-4">
                <div id="incidents_card" class="card center container-fluid" style="width: auto;">
                    <form>
                        Incident:
                        <br>
                        <input type="text" name="incident">
                        <br>
                        Location:
                        <br>
                        <input type="text" name="location">
                        <br>
                        <input type="submit" value="report">
                    </form>
                    <ul class="list-group list-group-flush">
                        <!-- {% for incident in incidents%}
                        <li id="{{ incident[1] }}" class="list-group-item"> {{ incident[0] }} <br>
                                <button type="button" class="btn btn-primary" onclick="upvote(this.id)"><i
                                        class="fas fa-thumbs-up"></i></button>
                                <button type="button" class="btn btn-primary" onclick="downvote(this.id)"><i
                                        class="fas fa-thumbs-down"></i></button>
                                <button type="button" class="btn btn-success" onclick="location(this.id)"><i
                                        class="fa fa-home"></i></button>
                        </li>
                        {% endfor %} -->
                        <li id="1" class="list-group-item"> ok <br>
                            <button type="button" class="btn btn-primary" onclick="upvote(this.id)"><i
                                    class="fa fa-thumbs-o-up"></i></button>
                            <button type="button" class="btn btn-primary" onclick="downvote(this.id)"><i
                                    class="fa fa-thumbs-o-down"></i></button>
                            <button type="button" class="btn btn-success" onclick="location(this.id)"><i
                                    class="fa fa-location-arrow"></i></button>
                        </li>

                    </ul>
                </div>
            </div>
        </div>



        <!-- div for location -->
        <!-- this is the last div for the main main container -->
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'main.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOc4uTuRiQylcCIg1wGkisZWWmTM8TAN8&callback=initMap"
        async defer></script>
    <script>
        $.noConflict();
        function upvote(id) {
            saveData = jQuery($.ajax({
                type: 'POST',
                url: "{{url_for('index')}}",
                contentType: 'application/json',
                data: { 'is_up': true, 'id': id }
            }))
        }
        function downvote(id) {
            saveData = jQuery($.ajax({
                type: 'POST',
                url: "{{url_for('index')}}",
                contentType: 'application/json',
                data: { 'is_up': false, 'id': id }
            }))
        }

    </script>
</body>


</html>