<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
        rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="icon" type="image/png" href="https://img.icons8.com/doodle/48/000000/conference-call.png">
    <title>Krowd</title>
</head>

<body>
    <div id="img_container">
        <img src="/static/images/logo.png" width="250px">
    </div>
    <div id="wraper" class="container-fluid">
        <!-- <nav class="navbar navbar-custom">
            <a class="navbar-brand" href="/">
                <img src="/static/images/logo.png" width="80" height="60" alt="">
            </a>
        </nav> -->

        <div class="row" class="container-fluid">
            <div style="height: 700px;" class="col-8 container-fluid" id="map">
            </div>
            <div class="col-4">
                <div class="card center" style="width: 18rem;">
                    <form style="margin:2rem">
                        <form name="report" method="POST" action="">
                            <b>Incident</b>:<br>
                            <input id="incident1" type="text" name="incident">
                            <b>Location</b>:<br>
                            <input id="location" type="text" name="location">
                            <input type="submit" value="Submit" class="btn btn-success" onclick="report()">
                            <button type="button" class="btn btn-danger" onclick="makeRed()"><i
                                    class="fa fa-exclamation"></i></button>
                        </form>
                    </form>
                    <ul id="lists" class="list-group list-group-flush">
                        {% for incident in incidents%}
                        <li class="list-group-item">
                            <p class="h4"> {{ incident[1] }} - {{incident[2] }} <i>votes</i></p>
                            <button type="button" id="makeOrange" class="btn btn-primary"
                                onclick="upvote({{ incident[0] }})">
                                <i class="fa fa-thumbs-o-up"></i></button>
                            <button type="button" class="btn btn-primary" onclick="downvote({{ incident[0] }})">
                                <i class="fa fa-thumbs-o-down"></i></i></button>
                            <button type="button" class="btn btn-success" onclick="marker({{ incident[0] }})">
                                <i class="fa fa-location-arrow"></i></button>
                        </li>
                        {% endfor %}
                        <!-- <li id="1" class="list-group-item"> ok <br>
                            <button type="button" class="btn btn-primary" onclick="upvote(this.id)"><i
                                    class="fas fa-thumbs-up"></i></button>
                            <button type="button" class="btn btn-primary" onclick="downvote(this.id)"><i
                                    class="fas fa-thumbs-down"></i></button>
                            <button type="button" class="btn btn-success" onclick="location(this.id)"><i
                                    class="fa fa-home"></i></button></li> -->

                    </ul>
                </div>
            </div>
        </div>



        <!-- div for location -->
        <!-- this is the last div for the main main container -->
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'main.js') }}"></script>

    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOc4uTuRiQylcCIg1wGkisZWWmTM8TAN8" async
        defer></script> -->
    <script>
        function upvote(id) {
            $.post("{{ url_for('index') }}", {
                is_up: true,
                id: id
            });
            location.reload();
        }
        function downvote(id) {
            $.post("{{ url_for('index') }}", {
                is_up: false,
                id: id
            });
            location.reload();
        }
        function marker(id) {
            var upar = 30;
            var neeche = -96;
            var position = { lat: upar, lng: neeche };
            var marker = new google.maps.Marker({
                position: position,
                map: map,
                title: 'MSC Free Food'
            });
        };

        function report() {
            $.post("{{ url_for('report') }}", {
                incident: document.getElementById('incident1').value,
                location: document.getElementById('location').value
            });
        }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOc4uTuRiQylcCIg1wGkisZWWmTM8TAN8&callback=marker"
        async defer></script>
</body>


</html>